Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.rgba: rgb

!Font
!urxvt.font: xft:Terminus:size=12,xft:Inconsolata\ for\ Powerline:size=12
URxvt.font: xft:Deja Vu Sans Mono:size=11

!URxvt.font: xft:inconsolata:pixelsize=17
!URxvt.font: xft:DejaVu Sans Mono-11

!Perl extensions folder
!URxvt.perl-lib: $HOME/.urxvt/ext/
!Disable iso default bindings so Ctrl+Shift worsk
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,resize-font,matcher,selection-to-clipboard
!URxvt.perl-ext-common: default,matcher,selection-to-clipboard
!Resize fonts
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.resize-font.step: 2


!URxvt.font: xft:Fantasque Sans Mono:size=12,\
!            xft:DejaVu Sans Mono,\
!            xft:IPAGothic

!URxvt.resize-font.smaller: C-j
!URxvt.resize-font.bigger:  C-k

URxvt.letterSpace: -1
URxvt.background: [95]#000000
!Name to avoit some apps errors
URxvt*termName: rxvt
!Clickable URLs
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

!Colors
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #aeafad
*.color0:       #000000
*.color1:       #912226
*.color2:       #778900
*.color3:       #ae7b00
*.color4:       #1d2594
*.color5:       #682a9b
*.color6:       #2b6651
*.color7:       #929593
*.color8:       #666666
*.color9:       #cc6666
*.color10:      #b5bd68
*.color11:      #f0c674
*.color12:      #81a2be
*.color13:      #b294bb
*.color14:      #8abeb7
*.color15:      #ecebec
